<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="VideoWallConnectionString" connectionString="Data Source=172.16.16.110\SQL_SRV_INFOSIMA;Initial Catalog=VideoWall;Persist Security Info=True;User ID=Users;Password=SAAT"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
