@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
      display: block;
  position: absolute;
  transition: left 300ms, right 300ms, top 300ms, bottom 300ms;
  background-color: #004E80;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.5);


    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@font-face {
    font-family: 'Yekan';
    src: url('./Src/fonts/Yekan.eot') format('eot'),  
         url('./Src/fonts/Yekan.woff') format('woff'),
         url('./Src/fonts/Yekan.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
  }
  
#login{border-radius: 10px; 
    box-shadow: 0px 0px 10px #0F0E0E;
    /* background-color: rgba(255, 255, 255, 0.85) ; */
    padding:50px;
    margin-top: 20%;
    
}
body{
    font-family: "Yekan";
    direction:rtl;
}

@media screen and (min-width: 800px) {
  .main {
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    font-size: 24px;
  }
}
@media screen and (min-width: 376px) and (max-width: 800px) {
  .main {
    left: 10px;
    right: 10px;
    top: 30px;
    bottom: 30px;
    font-size: 20px;
  }
}
@media screen and (max-width: 376px) {
  .main {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

.main:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  height: 0;
  border-top: 5px solid #5e0000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#media-player {
  display: block;
  position: absolute;
  top: 0;
  bottom: 64px;
  left: 0;
  right: 0;
  background-color: #012A48;
}

#media-video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ctrl-box {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 64px;
  bottom: 0;
  margin-top: -5px;
  background: linear-gradient(#004E80 0%, #003B6F 100%);
}

@media screen and (max-width: 376px) {
  .ctrl-box {
    position: absolute;
    bottom: 0;
  }

  #media-player {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 64px;
  }

  #media-video {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
  }
}
.play {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 7px;
  left: 7px;
  border: none;
  outline: none;
  font-family: lato, sans;
  color: rgba(250, 250, 250, 0.75);
  background: linear-gradient(#105F91 0%, #006480 100%);
  border-radius: 50%;
  overflow: hidden;
}

.playback {
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-image: url(http://matt.schneideriii.com/resources/avatar-def.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 200ms;
  transform: scale(0);
}

.playfront {
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: transparent;
  z-index: 5;
}

.data-name {
  font-family: lato, sans;
  color: rgba(250, 250, 250, 0.75);
  display: block;
  position: absolute;
  left: 64px;
  right: 7px;
  top: 4px;
  height: 32px;
  line-height: 32px;
  font-size: 1em;
  text-decoration: none;
  overflow: hidden;
}

.data-video {
  font-family: lato, sans;
  color: rgba(250, 250, 250, 0.75);
  display: block;
  position: absolute;
  left: 64px;
  right: 0;
  bottom: 0;
  height: 32px;
  line-height: 32px;
  font-size: 0.8em;
  text-decoration: none;
  overflow: hidden;
}

.play-bar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgba(250, 250, 250, 0.75);
}

