@font-face {
    font-family: 'Yekan';
    src: url('./fonts/Yekan.eot') format('eot'),  
         url('./fonts/Yekan.woff') format('woff'),
         url('./fonts/Yekan.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
  }
  
#login{border-radius: 10px; 
    box-shadow: 0px 0px 10px #0F0E0E;
    /* background-color: rgba(255, 255, 255, 0.85) ; */
    padding:50px;
    margin-top: 20%;
    
}
body{
    font-family: "Yekan";
    direction:rtl;
}

